body {
    width: 75%;
}
span{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

img {
    width: 35px;
    text-align: center;
}

#fondoceleste {
    background: deepskyblue;
}

#fondoamarillo {
    background:rgb(245, 179, 108);
}

#fondosalmon {
    background: rgb(255, 144, 104);
}

#negritablanca{
    font-weight: bold;
    color: white;
    font-size: larger;
}

.contenedor{
    display: flex;
    justify-content: center;
}

.header {
    background: gray;
    height: 50px;
    font-size: xx-large;
    padding: 15px;
    font-weight: bolder;
}

.subheader {
    font-style: italic;
    text-align: right;
    font-size: x-large;
    font-weight: bold; 
}

.body1 {
       display: flex;
       flex-direction: row;
}

.body11 {
    width: 100%;
    text-align: justify;
    padding: 15px 30px 15px 15px;
    border-radius: 40px 0 40px 0;
    border: solid black 1px;
    margin: 10px;
}

#img {
    width: 50px;
}

#montaña {
    width: 70px;
}

.body2 {
    border-radius: 40px 0 40px 0;
    border: solid black 1px;
    padding: 15px;
}

.body21 {
    border-radius: 40px 0 40px 0;
    border: solid black 1px;
    padding: 30px;
}

.video-container {
    margin: 0 auto;
    align-items: center;
    overflow:hidden;
    position:relative;
    height:275px;
    text-align: center;

}
.video-container iframe, .video-container object, .video-container embed {
    position:absolute;
    top:0;
    left:0;
    width:275px;
    height:275px;
}

#foot {
    text-justify: center;
}