h1, h2 {
    color: green;
}

#tconf {
    color: green;
    background: yellow;
}

div b {
    border: 2px solid blue;
}

#primeracapa:hover .segunda {
    display:none;
}

div#primeracapa :first-child {
    font-size: 50px;
}

a {
    text-decoration: none;
}

div a {
    color: goldenrod;
}